
body, html {
    background-color: black;
    color: white;
    font-family: cursive;
    text-align: center;
    caret-color: crimson;
}

.content {
    margin: 0 auto;
    width: 400px;
}

/* Looks wonky as shit, so I turned it off */
#ghostery-tracker-tally {
    visibility: hidden;
}

/* Mobile */
@media screen and (max-width: 481px) {
    table, td, th {
        border: 1px solid gray;
        padding: 1vw;
        font-size: 5vw;
    }
    .font {
        font-size: 8vw;
    }
    .biggerfont {
        font-size: 10vw;
    }
    .subsubtitle {
        font-size: 5vw;
    }

}

/* Desktop */
@media screen and (min-width: 481px) {
    table, td, th {
        border: 1px solid gray;
        padding: 1vw;
        font-size: 1.5vw;
    }
    .font {
        font-size: 4vw;
    }
    .biggerfont {
        font-size: 5vw;
    }
    .subsubtitle {
        font-size: 2vw;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}
